<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/logo.png" />
    <title>Turismo</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="hero">
      <nav class="nav container" id="navContainer">
        <figure href="/" class="nav__logo">
          <img src="../../img/1.svg" class="nav__img" />
        </figure>

        <a href="/" class="nav__link">Inicio</a>
        <a href="../agro/index.html" class="nav__link">Agro</a>
        <a href="../turismo/index.html" class="nav__link">Turismo</a>
        <a href="#contacto" class="nav__link">Info</a>
      </nav>
    </div>
    <main class="container-main">
      <section class="container" id="servicio">
        <br />
        <h2 class="subtitle">Historia Turismo</h2>
        <div class="container-service">
          <div class="analytics-services">
            <div class="service">
              <p>
                En la Hacienda contamos con una casa tradicional del Quindio,
                con más de 100 años de construcción, con 8 habitaciones,
                espacios amplios, una autentica fonda paisa, zonas verdes,
                varios arboles frutales, senderos para caminar y espacios para
                hacer deporte al aire libre. <br /><br />
                La Hacienda esta ubicada muy cerca del parque del café y de los
                pueblos Salento y Filandia. Igualmente, esta muy cerca de la
                Tebaida, donde se encuentran varios restaurantes tradicionales
                del Quindio. <br /><br />
                La casa principal cuenta con 8 habitaciones, 2 en el primer piso
                y 6 en el segundo piso. Tiene capacidad para 20 personas y el
                precio por persona incluye desayuno típico de la finca. La casa
                cuenta con piscina, jacuzzi, cancha de voleibol, canchitas de
                futbol, de tejo, amplios corredores dentro de la casa y una
                cocina espaciosa completamente dotada. <br /><br />
                La casa auxiliar, es una casa más pequeña con 3 habitaciones y
                capacidad para 5 personas. <br />
                La Hacienda se alquila para hospedaje de un solo grupo familiar
                o de amigos, es exclusiva para quien la alquile. Esta dotada de
                sábanas, cobijas, toallas de baño y de psicina. <br /><br />
                En tus estadias si es de tu interese, puedes tener un día de
                campo para conocer los cultivos y nuestras practicas de
                agricultura regenerativa.
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="line"></div>
      <div class="container-gallery">
        <div class="card">
          <video
            controls
            controlsList="nodownload"
            oncontextmenu="return false;"
            src="../../video/mario.mp4"
            type="video/mp4"
          ></video>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="line"></div>

      <section class="gallery" id="galeria-turismo">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2 class="subtitle">Habitaciones</h2>
              <div class="row row-cols-1 row-cols-md-3 g-4" id="carousel-row">
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/habit1.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/habit2.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This card has supporting text below as a natural lead-in
                        to additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/habitación.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This card has
                        even longer content than the first to show that equal
                        height action.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <h2 class="subtitle">Hacienda</h2>
              <div class="row row-cols-1 row-cols-md-3 g-4" id="carousel-row">
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/haci1.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/finca.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This card has supporting text below as a natural lead-in
                        to additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/haci2.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This card has
                        even longer content than the first to show that equal
                        height action.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <h2 class="subtitle">Alredores</h2>
              <div class="row row-cols-1 row-cols-md-3 g-4" id="carousel-row">
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/fogata.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Zona de Fogata</h5>
                      <p class="card-text">
                        Es un lugar adecuado para compartir noches unicas al
                        lado de una fogata y tus seres queridos
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/juegos.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Sala</h5>
                      <p class="card-text">
                        Una zona muy particular con ambientada como bar en la
                        cual se puede reunir la familia y disfrutar de un buen
                        rato de juegos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img
                      src="../../img/piscina.jpg"
                      class="img-gallery"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Piscina</h5>
                      <p class="card-text">
                        Cuenta con una profundidad de 125 cm adecuada para niños
                        y adultos, ademas de un delicioso jacuzzi para disfrutar
                        en las noches.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <section class="img-light">
        <img src="../../img/close.svg" alt="" class="close" />
        <img src="../../img/development.jpg" alt="" class="add-img" />
      </section>
    </main>
    <footer id="contacto">
      <div class="container footer-content">
        <div class="contact-us">
          <h2 class="brand">BioFrescos SAS</h2>
          <p>Somos expertos en la creación de tus sueños</p>
        </div>
        <div class="contact-us">
          <h4>Teléfono</h4>
          <p>3105748694</p>
        </div>
        <div class="contact-us">
          <h4>Correo</h4>
          <p>turismo@biofrescoscolombia.com</p>
        </div>
        <div class="contact-us">
          <h4>Ubicación</h4>
          <p>
            <a href="https://goo.gl/maps/KybWyP943SaSWhR2A" target="_blank"
              >km 2.9 via la bella hacía quebrada negra</a
            >
          </p>
        </div>
        <div class="social-media">
          <a
            href="https://www.facebook.com/profile.php?id=100057117083188"
            class="social-media-icon"
            target="_blank"
          >
            <i class="bx bxl-facebook"></i>
          </a>
          <a
            href="https://wa.me/573105748694"
            class="social-media-icon"
            target="blank"
          >
            <i class="bx bxl-whatsapp"></i>
          </a>
          <a
            href="https://www.instagram.com/haciendadinamarcaquindio/"
            class="social-media-icon"
            target="_blank"
          >
            <i class="bx bxl-instagram"></i>
          </a>
        </div>
      </div>
      <div class="line"></div>
    </footer>
    <script src="../../js/menu.js"></script>
    <script src="../../js/lightbox.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
