<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/logo.png" />
    <title>Agro</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="hero">
      <nav class="nav container" id="navContainer">
        <figure class="nav__logo">
          <img src="../../img/1.svg" class="nav__img" />
        </figure>

        <a href="/" class="nav__link">Inicio</a>
        <a href="../agro/index.html" class="nav__link">Agro</a>
        <a href="../turismo/" class="nav__link">Turismo</a>
        <a href="#contacto" class="nav__link">Info</a>
      </nav>
    </div>
    <main class="container-main">
      <section class="container" id="servicio">
        <br />
        <h2 class="subtitle">Agricultura Regenerativa</h2>
        <div class="container-service">
          <div class="analytics-services">
            <div class="service">
              <p>
                La base de este enfoque es que el trabajo humano encaje de forma
                armoniosa y positiva en el equilibrio natural, trabajando sobre
                prácticas agrícolas enfocadas a recuperar y beneficiar la
                fertilidad de la tierra. Esto junto a un excelente trato de
                nuestros colaboradores. <br><br>La agricultura regenerativa, abarca
                practicas agricolas que ofrecen al suelo grandes beneficios para
                restaurar su biodiversidad y construir la materia orgánica del
                suelo. Estas prácticas incluyen el manejo del suelo, se respeta
                su estructura general para conservar todos sus nutrientes. <br><br> Las
                practicas para la siembra, incluyen la rotación de cultivos, la
                aplicación de compost y estiércol animal, lo que restaura el
                microbioma del suelo para promover los nutrientes. <br><br> Para el
                riego, en la Hacienda contamos con una excelente agua para
                alimentar nuestros cultivos, tenemos 3 nacimientos de agua
                dentro de la finca y contamos con pozos de recoleccion de aguas
                lluvias.
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="line"></div>
      <section class="gallery" id="galeria">
        <div class="container">
          <h2 class="subtitle">Galería</h2>
          <div class="container-gallery">
            <div class="card">
              <img src="../../img/1.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Lechuga Crespa</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/2.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Habanero</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/3.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Ají</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/4.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Repollo Morado</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/5.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Cacao</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/6.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Cebolla Larga</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/7.jpeg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Platano Verde</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/8.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Surcos</h3>
              </div>
            </div>
            <div class="card">
              <img src="../../img/9.jpg" alt="" class="img-gallery" />
              <div class="card-body">
                <h3 class="card-title">Romero</h3>
                <p class="card-text">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="img-light">
        <img src="../../img/close.svg" alt="" class="close" />
        <img src="../../img/development.jpg" alt="" class="add-img" />
      </section>
    </main>
    <footer id="contacto">
      <div class="container footer-content">
        <figure href="/" class="nav__logo">
          <img src="../../img/1.svg" class="nav__img" />
        </figure>
        <div class="contact-us">
          <h4>Contacto</h4>
          <p>3106660100</p>
        </div>
        <div class="contact-us">
          <h4>Correo</h4>
          <p>tavosiembra@biofrescoscolombia.com</p>
        </div>
        <div class="contact-us">
          <h4>Ubicación</h4>
          <p>
            <a href="https://goo.gl/maps/KybWyP943SaSWhR2A" target="_blank"
              >km 2.9 via la bella hacía quebrada negra</a
            >
          </p>
        </div>
        <div class="social-media">
          <a
            href="https://www.facebook.com/profile.php?id=100057117083188"
            class="social-media-icon"
            target="_blank"
          >
            <i class="bx bxl-facebook"></i>
          </a>
          <a
            href="https://wa.me/5733105357705"
            class="social-media-icon"
            target="blank"
          >
            <i class="bx bxl-whatsapp"></i>
          </a>
          <a
            href="https://www.instagram.com/haciendadinamarcaquindio/"
            class="social-media-icon"
            target="_blank"
          >
            <i class="bx bxl-instagram"></i>
          </a>
        </div>
      </div>
      <div class="line"></div>
    </footer>
    <script src="../../js/menu.js"></script>
    <script src="../../js/lightbox.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
